{% extends "base.html" %}

{% block main %}

<div style="padding-top: 4em;">
    <div class="container">
        <form method="POST">
        {% csrf_token %}
        <div class="row" style="padding-top: 7em;">
            <div class="col" style="text-align: center;">
                <h1>Password Reset Confirm</h1>
            </div>
        </div>
        <div class="row" style="padding-top: 6em;">
            <div class="col" style="text-align: right;">
                New Password:
            </div>
            <div class="col" style="text-align: center;">
                {{form.new_password1}}
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row" style="padding-top: 1em;">
            <div class="col" style="text-align: right;">
                Confirm Password:
            </div>
            <div class="col" style="text-align: center;">
                {{form.new_password2}}
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row" style="padding-top: 5em; padding-bottom: 6em;">
            <div class="col" style="text-align: center;">
                <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}