{% extends "base.html" %}

{% block main %}

<div style="padding-top: 9em;">
    <div class="container">
        <form method="POST">
        {% csrf_token %}
        <div class="row" style="padding-top: 2em;">
            <div class="col" style="text-align: center;">
                <h1>Change Password</h1>
            </div>
        </div>
        <div class="row" style="padding-top: 3em;">
            <div class="col" style="text-align: right;">
            Old Password:
            </div>
            <div class="col" style="text-align: center;">
                {{form.old_password}}
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row" style="padding-top: 3em;">
            <div class="col" style="text-align: right;">
            New Password:
            </div>
            <div class="col" style="text-align: center;">
                {{form.new_password1}}
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row" style="padding-top: 3em;">
            <div class="col" style="text-align: right;">
            Confirm New Password:
            </div>
            <div class="col" style="text-align: center;">
                {{form.new_password2}}
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row" style="padding-top: 6em;">
            <div class="col" style="text-align: center;">
                <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Save Changes</button>
            </div>
        </div>
        <div class="row" style="padding-top: 3em; padding-bottom: 7em;">
            <div class="col" style="text-align: left;">
                {{ form.old_password.errors}}
                {{ form.new_password1.errors}}
                {{ form.new_password2.errors}}

            </div>
        </div>   
        </form>  
    </div>
</div>

{% endblock %}