{% extends "base.html" %}

{% block main %}

<div class="container-fluid" style="padding-top: 3em; padding-bottom: 6em;">
    <div class="row content">
        <div class="container">
            <h2><strong>How to look after club kit?</strong></h2>
            <p>Please read this short guide on how to look after club kit. I'll highlight a few small things you can do to reduce how often we have to replace kit! (and to keep the kit you borrow in better condition!)</p>
            <h5 style="padding-top: 2em">Surfboards</h5>
            <p>In general surfboards are pretty delicate (especially hardboards) so treat them with lots of care!</p>
            <ul>
              <li>NEVER drag your board across the beach... or the carpark (I've seen it happen!)</li>
              <li>Don't drag your leash! Wrap it around your board when you aren't in the water (It also makes you look like a K00k)</li>
              <li>When strapping boards to rooves remove fins if it's a hardboard, and if it's a foamie make sure that fins aren't digging into another board. Stacking board from biggest to smallest can help you do this.</li>
              <li>Don't tighten strap tooo tight (They can dig into the rails of boards and damage them). Tighten them just enough to stop the boards moving around at all. (also remove leashes before putting boards on a roof)</li>
              <li>When putting your board down after a session do so gently and don't yeet it at the carpark. And try not to stack boards of top of each other if there's a hardboard involved.</li>
              <li>If you're taking a hardboard out make sure there are no holes in it! If there are and you take it in the water this can permenantly damage the board. Let a member of the committee know.</li>
              <li>If a board is marked as "Damaged" on the please don't borrow it (mainly for the reason above)</li>
            </ul>
            <h5>Wetsuits</h5>
            <p>Wetsuits need a bit of care to keep them stretchy and warm (and hole free) for a long time.</p>
            <ul>
              <li>After you're finished with your wetsuit, make sure to wash it! Salt isn't great for suits long term so give it a good rinse in a big bucket of cold water. At the container we have buckets for washing wetsuits, and theres a tap and hose round the back of the container building.</li>
              <li>When drying out (or generally hanging up) wetsuits don't hang them by the neck EVER! This will strech out the neck pretty quickly and then water will pour in when it's worn. Instead hang it by the waist through the hanger.</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}